$blackSquareColor: #4b0c0c;
$blackSquareColorHover: #3d0707;
$whiteSquareColor: #d1cf88;
$whiteSquareColorHover: #cac880;
$highlightedColor: #8c8cff5d;
$highlightedColorHover: #4b4bfd5d;
$selectedSquareColor: #4040ff;
$lastMoveColor: #249b24;

/*          ANIMATIONS (OPTIONAL)
- piece floats out of the screen after being captured?
- animated movement (maybe move to new square, create an image there and then delete old image)
*/

.vertical{
    width: 100%;
}
.horizontal{
    height: 100%;
}
#board{
    display: inline-block;
    box-sizing: border-box;
    border-collapse: collapse;
    z-index: 1;
    tr{
        display: block;
    }
    .notationRow{
        width: 100%;
        height: (100%/18);
    }
    .boardRow{
        width: 100%;
        height: (100%/9); 
        .pieceImg{
            width: 100%;
            height: 100%;
            z-index: 3;
        }
    }
    .boardRow, .notationRow{
        margin: 0;
        padding: 0;
    }
    .blackSquare, .whiteSquare, .topNotationBox, .leftNotationBox, .cornerNotationBox{
        float: left;
        box-sizing: border-box;
    }
    .blackSquare, .whiteSquare{
        width: (100%/9);
        height: 100%;
    }
    .blackSquare{
        background-color: $blackSquareColor;
    }
    .blackSquare:hover{
        background-color: $blackSquareColorHover;
    }
    .whiteSquare{
        background-color: $whiteSquareColor;
    }
    .whiteSquare:hover{
        background-color: $whiteSquareColorHover;
    }   

    .topNotationBox, .leftNotationBox, .cornerNotationBox{
        border: 2px solid black;
        background-color: $blackSquareColor;
        text-align: center;
        display: flex;
        flex-direction: column;     
        justify-content: center;
    }
    .topNotationBox{
        width: (100%/9);
        height: 100%; 
        border-left-width: 1px;
        border-right-width: 1px;
    }
    .leftNotationBox{
        width: (100%/18);
        height: 100%;
        border-top-width: 1px;
        border-bottom-width: 1px;
    }
    .cornerNotationBox{
        width: (100%/18);
        height: 100%;
        border: 1px solid black;
    }
}

.highlighted{
    background-color: $highlightedColor !important;
}
.highlighted:hover{
    background-color: $highlightedColorHover !important;
}
.selectedSquare{
    border: 4px solid $selectedSquareColor;
}
.lastMove{
    border: 4px solid $lastMoveColor;
}
