$bgColors: #ffffff;
/* add modal to media screen */
#startbutton, #howbutton{
    background-color: $bgColors;
    display: block;
    position: relative;
    width: 40%;
    height: 15%;
    margin: 1% 0;
    font-size: 280%;
    top: 33%;
    left: 30%;
    z-index: 1;
}
#howmodal{
    background-color: $bgColors;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    display: none;
    border: 2px solid grey;
    border-radius: 10px;
    z-index: 2;
    width: 70%;
    height: 70%;
    left: 15%;
    top: 15%;
    h2, input{
        display: inline;
    }
    input{
        position: absolute;
        right: 0;
        top: 0;
        width: 40px;
        height: 40px;
        margin: 10px;
    }
    p.header{ 
        text-align: center;
        position: relative;
        width: 100%;
        font-weight: bold;
        font-size: 5vw;
        margin: 10px 0;
    }
    p.text{
        font-size: 2vw;
    }
}

@media only screen and (max-width: 900px){
    #startbutton, #howbutton{
        width: 50%;
        height: 13%;
        font-size: 5vw;
        top: 35%;
        left: 25%;
    }
    #howmodal{
        
    }
}

@media only screen and (max-width: 600px){
    #startbutton, #howbutton{
        width: 70%;
        height: 11%;
        font-size: 6vw;
        top: 37%;
        left: 15%;
    }
    #howmodal{
    
    }
}