/* add modal to media screen */
#startbutton, #howbutton {
  background-color: #ffffff;
  display: block;
  position: relative;
  width: 40%;
  height: 15%;
  margin: 1% 0;
  font-size: 280%;
  top: 33%;
  left: 30%;
  z-index: 1;
}

#howmodal {
  background-color: #ffffff;
  position: relative;
  text-align: center;
  box-sizing: border-box;
  display: none;
  border: 2px solid grey;
  border-radius: 10px;
  z-index: 2;
  width: 70%;
  height: 70%;
  left: 15%;
  top: 15%;
}
#howmodal h2, #howmodal input {
  display: inline;
}
#howmodal input {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  margin: 10px;
}
#howmodal p.header {
  text-align: center;
  position: relative;
  width: 100%;
  font-weight: bold;
  font-size: 5vw;
  margin: 10px 0;
}
#howmodal p.text {
  font-size: 2vw;
}
#howmodal #closehow {
  background-image: url("/img/close_button.png");
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid black;
  border-radius: 6px;
  background-color: #ffffff;
}

@media only screen and (max-width: 900px) {
  #startbutton, #howbutton {
    width: 50%;
    height: 13%;
    font-size: 5vw;
    top: 35%;
    left: 25%;
  }
}
@media only screen and (max-width: 600px) {
  #startbutton, #howbutton {
    width: 70%;
    height: 11%;
    font-size: 6vw;
    top: 37%;
    left: 15%;
  }
}
/*          ANIMATIONS (OPTIONAL)
- piece floats out of the screen after being captured?
- animated movement (maybe move to new square, create an image there and then delete old image)
*/
.vertical {
  width: 100%;
}

.horizontal {
  height: 100%;
}

#board {
  display: inline-block;
  box-sizing: border-box;
  border-collapse: collapse;
  z-index: 1;
}
#board tr {
  display: block;
}
#board .notationRow {
  width: 100%;
  height: 5.5555555556%;
}
#board .boardRow {
  width: 100%;
  height: 11.1111111111%;
}
#board .boardRow .pieceImg {
  width: 100%;
  height: 100%;
  z-index: 3;
}
#board .boardRow, #board .notationRow {
  margin: 0;
  padding: 0;
}
#board .blackSquare, #board .whiteSquare, #board .topNotationBox, #board .leftNotationBox, #board .cornerNotationBox {
  float: left;
  box-sizing: border-box;
}
#board .blackSquare, #board .whiteSquare {
  width: 11.1111111111%;
  height: 100%;
}
#board .blackSquare {
  background-color: #4b0c0c;
}
#board .blackSquare:hover {
  background-color: #3d0707;
}
#board .whiteSquare {
  background-color: #d1cf88;
}
#board .whiteSquare:hover {
  background-color: #cac880;
}
#board .topNotationBox, #board .leftNotationBox, #board .cornerNotationBox {
  border: 2px solid black;
  background-color: #4b0c0c;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#board .topNotationBox {
  width: 11.1111111111%;
  height: 100%;
  border-left-width: 1px;
  border-right-width: 1px;
}
#board .leftNotationBox {
  width: 5.5555555556%;
  height: 100%;
  border-top-width: 1px;
  border-bottom-width: 1px;
}
#board .cornerNotationBox {
  width: 5.5555555556%;
  height: 100%;
  border: 1px solid black;
}

.highlighted {
  background-color: #8c8cff5d !important;
}

.highlighted:hover {
  background-color: #4b4bfd5d !important;
}

.selectedSquare {
  border: 3px solid #4040ff;
}

.lastMove {
  background-color: #249b24 !important;
}

html {
  height: 100%;
}
html body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  background-color: #00000d;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}