/* add modal to media screen */
#startbutton, #howbutton {
  background-color: #ffffff;
  display: block;
  position: relative;
  width: 40%;
  height: 15%;
  margin: 1% 0;
  font-size: 280%;
  top: 33%;
  left: 30%;
  z-index: 1;
}

.modal {
  background-color: #ffffff;
  position: absolute;
  text-align: center;
  box-sizing: border-box;
  display: none;
  border: 2px solid grey;
  border-radius: 10px;
  z-index: 2;
  width: 70%;
  height: 70%;
  left: 15%;
  top: 15%;
}
.modal p.header {
  text-align: center;
  position: relative;
  width: 100%;
  font-weight: bold;
  font-size: 280%;
  margin: 10px 0;
}
.modal .closeButton {
  background-image: url("/img/close_button.png");
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid black;
  border-radius: 6px;
  background-color: #ffffff;
}
.modal p.header, .modal input {
  display: inline;
}
.modal input {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  margin: 10px;
}
.modal p.text, .modal p.tableCaption {
  font-size: 240%;
}
.modal ul {
  text-align: left;
}
.modal ul li {
  font-size: 210%;
}
.modal ul li span.blue {
  color: blue;
}
.modal ul li span.green {
  color: green;
}
.modal ul li span.red {
  color: red;
}
.modal div.promotionHeader {
  font-weight: bold;
}
.modal div.promotionBoxes div.promotionBox {
  display: inline-block;
  box-sizing: border-box;
  background-color: #e0e0e0;
  border: 2px solid black;
  border-radius: 10px;
  width: 20%;
  margin: 2.5%;
}
.modal div.promotionBoxes div.promotionBox img.promotionImg {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 900px) {
  #startbutton, #howbutton {
    width: 50%;
    height: 13%;
    font-size: 5vw;
    top: 35%;
    left: 25%;
  }

  .modal p.header {
    font-size: 180%;
    margin: 8px 0;
  }
  .modal input {
    width: 35px;
    height: 35px;
    margin: 8px;
  }
  .modal p.text, .modal p.tableCaption {
    font-size: 150%;
  }
  .modal ul li {
    font-size: 120%;
  }
}
@media only screen and (max-width: 600px) {
  #startbutton, #howbutton {
    width: 70%;
    height: 11%;
    font-size: 6vw;
    top: 37%;
    left: 15%;
  }

  .modal p.header {
    font-size: 140%;
    margin: 6px 0;
  }
  .modal input {
    width: 30px;
    height: 30px;
    margin: 6px;
  }
  .modal p.text, .modal p.tableCaption {
    font-size: 120%;
  }
  .modal ul li {
    font-size: 100%;
  }
}
@media only screen and (max-height: 400px) {
  #startbutton, #howbutton {
    width: 70%;
    height: 11%;
    font-size: 3vw;
    top: 37%;
    left: 15%;
  }

  .modal p.header {
    font-size: 95%;
    margin: 12px 0;
  }
  .modal input {
    width: 25px;
    height: 25px;
    margin: 4px;
  }
  .modal p.text, .modal p.tableCaption {
    font-size: 90%;
  }
  .modal ul li {
    font-size: 80%;
  }
}
.vertical {
  width: 100%;
}

.horizontal {
  height: 100%;
}

#board {
  display: inline-block;
  box-sizing: border-box;
  border-collapse: collapse;
  z-index: 1;
}
#board tr {
  display: block;
}
#board .notationRow {
  width: 100%;
  height: 5.5555555556%;
}
#board .boardRow {
  width: 100%;
  height: 11.1111111111%;
}
#board .boardRow .pieceImg {
  width: 100%;
  height: 100%;
  z-index: 4;
}
#board .boardRow, #board .notationRow {
  margin: 0;
  padding: 0;
}
#board .blackSquare, #board .whiteSquare, #board .topNotationBox, #board .leftNotationBox, #board .cornerNotationBox {
  float: left;
  box-sizing: border-box;
  z-index: 2;
  background-repeat: no-repeat;
}
#board .blackSquare, #board .whiteSquare {
  width: 11.1111111111%;
  height: 100%;
}
#board .blackSquare {
  background-color: #4b0c0c;
}
#board .blackSquare:hover {
  background-color: #3d0707;
}
#board .whiteSquare {
  background-color: #d1cf88;
}
#board .whiteSquare:hover {
  background-color: #cac774;
}
#board .highlighted {
  background-color: #6464ff6e !important;
}
#board .highlighted:hover {
  background-color: #4b4bfd8f !important;
}
#board .selectedSquare {
  border: 4px solid #4040ff;
}
#board .lastMove {
  border: 4px solid #249b24;
}
#board .checkedKing {
  border: 4px solid #ff0000 !important;
}
#board .topNotationBox, #board .leftNotationBox, #board .cornerNotationBox {
  border: 2px solid black;
  background-color: #4b0c0c;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#board .topNotationBox {
  width: 11.1111111111%;
  height: 100%;
  border-left-width: 1px;
  border-right-width: 1px;
}
#board .leftNotationBox {
  width: 5.5555555556%;
  height: 100%;
  border-top-width: 1px;
  border-bottom-width: 1px;
}
#board .cornerNotationBox {
  width: 5.5555555556%;
  height: 100%;
  border: 1px solid black;
}
#board .cornerNotationBox .settingsButton {
  height: 100%;
  width: 100%;
}
#board .cornerNotationBox .settingsButton:hover {
  background-color: #0000001a;
}

.checkMateBackground {
  background-color: #2c2c2c80;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
}

.checkMateText {
  position: absolute;
  z-index: 6;
  color: red;
  font-weight: bold;
  font-size: 300%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

html {
  height: 100%;
}
html body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  background-color: #00000d;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}